@charset 'utf-8';
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: "monospace";
	background: #F7D0C9;
	word-break: break-all;
}
.content{
	max-width: 100%;
}
.mv{
	background-image: url(../img/mv.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	text-align: center;
	font-size: 35px;
	padding: 200px 0 200px 0;
	min-height: 100%;
}
header{
	position: absolute;
}
nav{
	position: relative;
	left: 800px;
	z-index: 1;
}
nav ul{
	list-style: none;
	position: fixed;
	background: #fff;
	opacity: 0.8;
  padding: 10px 20px;
	min-width: 70px;
}
nav ul li{
	font-size: 15px;
	line-height: 2em;
}
nav ul li a {
  position: relative;
  display: inline-block;
  text-decoration: none;
	color: #000;
}
nav ul li a:hover::before {
	transform: scale(1, 1);
}
h1{
	font-size: 30px;
	color: #40211F;
	text-align: center;
	font-weight: normal;
}
/*.innerarea{
	width: 90%;
	margin: auto;
	padding:50px 0;
	box-sizing: border-box;
}*/
#about{
	position: relative;
	text-align: center;
	margin: 50px 20px;
	background:url(../img/frofile_img.png),linear-gradient(to bottom,#F7D0C9 140px,#FEEFEA 140px 100%);
	background-position: center top;
	padding: 285px 17px 10px;
	background-repeat: no-repeat;

}
.name{
	background: #000;
	color: #fff;
	display: inline-block;
  padding: 10px 60px;
	line-height: 12px;
}
.prof_txt{
	line-height: 35px;
	text-align: left;
	word-break: break-all;
	animation-name: fadein;
  animation-duration: 2s;
}
.prof_txt span{
	font-size: 1.3em;
}
#skills{
	background: #FFF6EF;
}
#chart{
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding-bottom: 30px;
}
#chart > li{
	list-style: none;
	width: 100px;
	height: 100px;
	background-color: #D7D7D7;
	border-radius: 50px;
	text-align: center;	
	overflow: hidden;
	background-image: url(../img/percentages.png);
	background-position-y: 0px;
	margin: 30px 15px 0;
}

.ttl{
	color: aquamarine;
	line-height: 80px;
	background: #fff;
	height: 80px;
	width: 80px;
	border-radius: 40px;
	display: block;
	margin: auto;
	margin-top: 10px;
}
#works ul{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
#works ul li{
	list-style: none;
	width: 300px;
	padding: 20px 0;
}
#works ul li img{
	background-color: #fff;
	width: 300px;
	height: 200px;

}
#contact{
	position: relative;
	background-color: #FEEFEA;
	margin-top: 50px;
}
#contact::before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	transform: skewY(-5deg);
	transform-origin: bottom left; 
  z-index: -1;
  width:100%;
  height:100%;
  background:#FEEFEA;
}
#contact ul{
	display: flex;
	justify-content: space-around;
	width: 100px;
	margin: auto;
	padding: 30px 0;
	list-style: none;
}

/* タブレット：760px～960px */
@media only screen and (min-width: 760px) {
.content{
	max-width: 920px;
	margin: auto;
}	
#about{
	position: relative;
}	
.name{
	background: #000;
	color: #fff;
	display: inline-block;
  padding: 10px 60px;
	line-height: 12px;
	position: absolute;
	top: 30%;
	right: 20%;
	z-index: 1;
}	
	
}/* タブレット */

/* PC：961px～ */
@media only screen and (min-width: 961px){
	
}/* PC：961px～ */