@charset 'utf-8';
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: "monospace";
	background: #F7D0C9;
	word-break: break-all;
	box-sizing: border-box;
}
body a{
	text-decoration: none;
	color: #000;
}
.content{
	max-width: 100%;
}
.mv{
	background-image: url(../img/mv.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	text-align: center;
	font-size: 35px;
	padding: 200px 0 200px 0;
	min-height: 100%;
}
nav{
	position: absolute;
	right: 130px;
	z-index: 1;
}
nav ul{
	list-style: none;
	position: fixed;
	background: #fff;
	opacity: 0.8;
    padding: 10px 20px;
	max-width: 110px;
}
nav ul li{
	font-size: 15px;
	line-height: 2em;
}
nav ul li a {
	display: inline-block;
	position: relative;
    text-decoration: none;
	color: #000;
}
nav ul li a::before {
	position: absolute;		
	top: 6px;		
	left: -15px;		
	content: '';		
	width: 5px;		
	height: 50%;		
	background: #333;	
	transform: scale(1, 0);	
	transform-origin: top left;		
	transition: transform .3s;
}
nav ul li a:hover::before {	
	transform: scale(1, 1);
  }
h1{
	font-size: 35px;
	letter-spacing: 8px;
	color: #40211F;
	user-select: none;
	text-align: center;
	font-weight: normal;
}
.innerarea{
	width: 85%;
	margin: auto;
	padding: 30px;
}
#about{
	width: 85%;
	position: relative;
	text-align: center;
	margin: 50px auto;
	background:url(../img/frofile_img.png),linear-gradient(to bottom,#F7D0C9 140px,#FEEFEA 140px 100%);
	background-position: center top;
	padding: 285px 17px 20px;
	background-repeat: no-repeat;

}
.name{
	background: #000;
	color: #fff;
	display: inline-block;
    padding: 10px 60px;
	line-height: 16px;
	font-size: 13px;
    line-height: 16px;
}
.prof_txt{
	line-height: 35px;
	text-align: left;
	animation-name: fadein;
	animation-duration: 2s;
	margin-top: 20px;
	opacity: 0;
    transform: translateY(50px);
    transition: 800ms;
}
.prof_txt span{
	font-size: 1.3em;
}
#skills{
	background: #FFF6EF;
}
#chart{
	width: 95%;
	margin: auto;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
#chart > li{
	list-style: none;
	width: 150px;
	height: 150px;
	background-color: #D7D7D7;
	border-radius: 75px;
	text-align: center;	
	overflow: hidden;
	background-image: url(../img/percentages.png);
	background-position-y: 0px;
	margin: 30px 15px 0;
	user-select: none;
}
.ttl{
	line-height: 134px;
	background: #fff;
	height: 134px;
	width: 134px;
	border-radius: 67px;
	display: block;
	margin: auto;
	margin-top: 8px;
	font-size: 18px;
}
#chart > li .dw{
	color: aquamarine;
}
#chart > li .ps{
	color: rgb(127, 182, 255);
}
#chart > li .ai{
	color: rgb(255, 127, 127);
}
#chart > li .html{
	color: rgb(208, 127, 255);
}
#chart > li .css{
	color: rgb(127, 146, 255);
}
#chart > li .js{
	color: rgb(255, 221, 127);
}
#works ul{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
#works ul li{
	list-style: none;
	width: 300px;
	margin: 20px 10px;
}
#works ul li p{
    line-height: 25px;
}
#works ul li p a:hover{
	opacity: 0.5;
}
#works ul li img{
	background-color: #fff;
	width: 300px;
	height: 200px;
	opacity: 0.8;

}
#contact{
	position: relative;
	background-color: #FEEFEA;
	margin-top: 50px;
}
#contact::before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	transform: skewY(-5deg);
	transform-origin: bottom left; 
	width:100%;
	z-index: -1;
	background:#FEEFEA;
	height:100%;
}
#contact ul{
	display: flex;
	justify-content: space-around;
	width: 100px;
	margin: auto;
	padding: 30px 0;
	list-style: none;
}
#top{
	background-color: rgb(247, 140, 140);
	cursor: pointer;
	width: 50px;
	height: 50px;
	text-align: center;
	position: fixed;
	bottom: 15px;
	right: 15px;
	border-radius: 25px;
	transition: 1.0s;
	line-height: 49px;
}
#top:hover{
	background-color: rgb(235, 109, 109);
}
#top a{
    color: #fff;
    user-select:none;
}
#top img{
	vertical-align: middle;
}
#contact ul li img {
    -moz-transition: -moz-transform 0.5s linear;
    -webkit-transition: -webkit-transform 0.5s linear;
    -o-transition: -o-transform 0.5s linear;
    -ms-transition: -ms-transform 0.5s linear;
    transition: transform 0.5s linear;
}
#contact ul li img:hover{
	-webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}


/* タブレット：760px～960px */
@media only screen and (min-width: 760px) {
.innerarea,#about{
	max-width: 930px;
}
.innerarea{
	padding: 70px;
}	
#chart > li, #works ul li{
	margin-top: 50px;
}
.name{
	background: #000;
	color: #fff;
	display: inline-block;
    padding: 10px 60px;
	line-height: 12px;
	position: absolute;
	top: 30%;
	right: 20%;
	z-index: 1;
}	

}/* タブレット */

/* PC：961px～ */
@media only screen and (min-width: 961px){
	
}/* PC：961px～ */